<template>

  <!-- TOP MARQUEE -->
  <section class="w-full max-w-full my-8 overflow-hidden border-t-2 border-b-2 border-white ">
    <div class="flex justify-around marquee">
      <p class="p-8 text-lg lg:text-2xl">
        Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <p class="p-8 text-lg md:text-2xl">
          Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
         Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
        <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Photography
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Video
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Design
      </p>
      <p class="p-8 text-lg md:text-2xl">
        Web
      </p>
      <div class="">
        
      </div>

    </div>
  </section>


  <!--SECTION BELOW MARQUEE-->

  <main class="container mx-auto">
    
    <!--SECTION ABOVE LARGE LOGO-->
    <div class="flex xxxs:mx-7 sm:mx-0 lg:mx-8 justify-items-center sm:justify-around lg:justify-between">
      <div>

        <div>
          <h2 class="text-2xl antialiased font-bold tracking-tighter sm:text-3xl md:text-4xl"> A Unique Expression</h2>
        </div>

        <div class="mt-8">
          <h2 class="text-2xl antialiased font-bold tracking-tighter sm:text-3xl md:text-4xl "> Inquiries </h2>
          
          <button @click="copy()">
            <div class="flex items-baseline space-x-4">
              <p class="text-base antialiased font-bold tracking-tighter uppercase sm:text-lg lg:text-2xl" id="email">taylor@moodcrtv.com</p>

              <div id="copy" class="w-4">
                <svg class="pt-0.5" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" style="fill: rgb(248, 247, 247);transform: ;msFilter:;">
                  <path d="M14 8H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V10c0-1.103-.897-2-2-2z"></path>
                  <path d="M20 2H10a2 2 0 0 0-2 2v2h8a2 2 0 0 1 2 2v8h2a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"></path>
                </svg>
              </div>

            </div>
          </button>
        </div>

      </div>

      <div>
        <h2 class="text-2xl antialiased font-bold tracking-tighter sm:text-3xl md:text-4xl">Coming Soon</h2>
      </div>

    </div>

    <!-- LARGE LOGO -->
    <div class="fixed w-full top-4/5 sm:top-1/2 ipad-lg:top-1/2 md:top-4/5 lg:top-3/4 xl:top-1/2 2xl:top-2/3">
      <div class="flex flex-col -space-y-5 xl:-space-y-14 4xl:-space-y-16">
      
        <h2 class="self-end mr-3 text-3xl antialiased leading-none tracking-tighter ipad:mr-28 4xl:self-center 2xl:mr-80 3xl:mr-96 3xl:pr-20 4xl:-mr-96 4xl:pr-0 4xl:pl-44 xl:mr-44 xxxs:mr-7 xs:mr-14 md:mr-16 lg:mr-24 sm:text-4xl md:text-6xl lg:text-7xl"
        >
          CRTV
        </h2>
        
        <h1 class="leading-none md:mr-12 4xl:mr-96 4xl:pr-48  xs:mr-8 xxs:mr-4 place-self-center tracking-tight antialiased xxs:text-8.5xl md:text-9.5xl lg:text-9.55xl xl:text-10xl 4xl:text-11xl text-8.25xl font-thick"
        > 
          MOOD 
        </h1>
      </div>
    </div>

  </main>

</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'Home',
  setup() {
    async function copy() {
      const copyText = document.getElementById("email")?.innerText;

      /* Copy the text inside the email field */
      navigator.clipboard.writeText(copyText!.toString().toLowerCase());

      const notifier = document.getElementById("copy")!;
      notifier.innerHTML = `<transition name="fade">
                              <p class='text-xs text-bold'> Copied! </p>
                            </transition>`;
      setTimeout(() => {
        notifier.innerHTML = `<svg class="pt-0.5" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" style="fill: rgb(248, 247, 247);transform: ;msFilter:;">
                    <path d="M14 8H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V10c0-1.103-.897-2-2-2z"></path>
                    <path d="M20 2H10a2 2 0 0 0-2 2v2h8a2 2 0 0 1 2 2v8h2a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"></path>
                  </svg>`;
      }, 3000);
    }
    return {copy};  
  }
})
</script>

<style scoped>
.marquee {
  animation: marquee 20s linear infinite;
  max-width: 100%;
}
@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to  {
  opacity: 0;
}

</style>


