@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "Helvetica bold";
        font-weight: 900;
        src: url(/fonts/HelveticaNowDisplayXBlk.otf) format('opentype');
      }
    
    
      /* @font-face {
          font-family: "Helvetica mid";
          font-weight: bold;
          src: url(/fonts/HelveticaNeueLTStd-Bd.otf) format('opentype');
      }
    
      @font-face {
          font-family: "myHelvetica";
          font-weight: normal;
          src: url(/fonts/HelveticaNeueLTStd-Ex.otf) format('opentype');
      } */

    body {
        @apply bg-black;
        @apply text-white;
        @apply uppercase;
        @apply antialiased;
    }

    h1 {
        @apply font-thick; 
    }
    h2 {
        @apply font-mid;
    }
    p {
        @apply font-text;
    }
}